<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ConsoleApp1.My.MySettings>
            <setting name="rutaArchivos" serializeAs="String">
                <value />
            </setting>
            <setting name="configuracion" serializeAs="String">
                <value />
            </setting>
            <setting name="eFacturaConnection" serializeAs="String">
                <value>Data Source=servidor-bd;Initial Catalog=eFactura;Persist Security Info=True;User ID=colegiosa;Password=C$@123</value>
            </setting>
            <setting name="emisor" serializeAs="String">
                <value>3002182080</value>
            </setting>
            <setting name="emisor_servidor" serializeAs="String">
                <value>api-prod</value>
            </setting>
        </ConsoleApp1.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
